<h1>Chores</h1>
<table>
  <thead>
    <tr class='bg-secondary todoItem'>
      <th>Done</th>
      <th>Desc</th>
      <th>Points</th>
      <th>Repeat</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% todos.forEach( el => { %>
      <tr class='shadow border-primary bg-light text-dark todoItem' data-reoccurance="<% if(el.reoccuring === true){ %>reoccuring<%} %>" data-id='<%=el._id%>'>
        <td class="ps-5 form-check form-switch">
          <input class="todo <%= el.completed === true ? 'completed' : 'not'%> form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" <% if(el.completed === true){ %> checked <%} %>>
        </td>
        <td><%= el.todo %></td>
        <td class="points"><%= el.points %></td>
        <td>
          <% if(el.reoccuring === true){ %> <i class="bi-arrow-repeat"></i> <%} %></span>
          </i>
        </td>
        <td><i class="bi-trash del"></i></td>
      </tr>
    <% }) %> 
  </tbody>
</table>