<h1>Chores</h1>
<ul>
  <li class='bg-secondary ps-3 mb-2  rounded todoItem d-flex justify-content-between pe-3 me-3'>
      <span>Done</span>
      <span>Desc</span>
      <span>Points</span>
      <span>Repeat</span>
      <span>Delete</span>
  </li>
<% todos.forEach( el => { %>
        <li class='border border-primary bg-light ps-3 mb-2 text-dark rounded todoItem d-flex justify-content-between pe-3 me-3' data-reoccurance="<% if(el.reoccuring === true){ %>reoccuring<%} %>" data-id='<%=el._id%>'>
          <div class="form-check form-switch">
            <input class="todo <%= el.completed === true ? 'completed' : 'not'%> form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" <% if(el.completed === true){ %> checked <%} %>>
          </div>
            <span><%= el.todo %></span>
            <span class="points"><%= el.points %></span>
            <span><% if(el.reoccuring === true){ %> <i class="bi-arrow-repeat"></i> <%} %></span>
            <i class="bi-trash del"></i>
        </li>
<% }) %>    
</ul>