<h1>Chores</h1>
        <ul>
        <% todos.forEach( el => { %>
                <li class='todoItem d-flex justify-content-between pe-3' data-id='<%=el._id%>'>
                  <div class="form-check form-switch">
                    <input class="<%= el.completed === true ? 'completed' : 'not'%> form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" <% if(el.completed === true){ %> checked <%} %>>
                  </div>
                    <span><%= el.todo %></span>
                    <i class="bi-trash del"></i>
                </li>
        <% }) %>    
        </ul>