<footer class="ps-2 pt-1 pb-1 mt-3 bg-primary">
  
  <div class="d-flex justify-content-center"> 
    <a class="p-2 btn btn-danger me-auto" href="/logout">Logout</a>
    <div class="me-auto">
      <span class="text-light me-2">By: Luis E. Jaar</span>
      <a class="text-decoration-none text-dark fs-3" href="https://github.com/LuisEJaar" target="_blank">
        <i class="bi-github"></i>
      </a>
    </div>
  </div>
</footer>
