<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Enter new reward:</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <form class="d-flex flex-column" action="/rewards/createReward" method='POST'>
        <input type="text" class="form-control" placeholder="Description" name='rewardItem'>
        <input type="number" class="form-control mt-3" placeholder="Point Value" name="points" min="0">
        <div class="d-flex justify-content-center mt-3">
          <input class="form-check-input me-3 form-control" type="checkbox" value="true" id="flexCheckDefault" name="reoccuring">
          <label class="form-check-label" for="flexCheckDefault">
          Reocurring?
          </label>
        </div>
        <input class="btn btn-secondary mt-3" type="submit">
      </form>
    </div>
  </div>
</div>