<section class="pt-4 pb-4 bg-info bg-gradient width-25 my-auto rounded-4 border-1 border border-info container text-center d-flex flex-column loginContainer shadow">
    
    <h1 class="pb-3">Welcome to chore-ify!</h1>

    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <form action="/signup" method="POST">
        <div class="input-group mb-3 login">
            <input type="text" name="userName" class="mb-2 form-control text-center shadow" placeholder="User Name">
        </div>
        <div class="input-group mb-3 login">
            <input type="email" name="email" class="mb-2 form-control text-center shadow" placeholder="Email">
        </div>
        <div class="input-group mb-3 login">
            <input type="password" name="password" class="mb-2 form-control text-center shadow" placeholder="Password">
        </div>
        <div class="input-group mb-3 login">
            <input type="password" name="confirmPassword" class="mb-2 form-control text-center shadow"  placeholder="Confirm Password">
        </div>
        <input class="btn btn-success login shadow" type="submit">
    </form>
</section>