/* Banner */
nav {
    user-select: none;
}

body {
    height: 100vh;
}

/* Index Page styles */
.indexPage {
    max-width: 450px;
}

.indexPage a {
    max-width: 50%;
    min-width: 40%;
}

/* Login Page styles */
.login {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.loginContainer {
    max-width: 550px;
}

/* Box Shadow, universal */

.shadow {
    box-shadow: 3px, 3px, blue;
}

/* Lists */

li {
    list-style-type: none;
}

/* Insufficient Points Hidden */

.hidden {
    display: none;
}

/* Todos page max-size */

.todoBox {
    max-width: fit-content;
}

/* Table Styles */
table {
    border-collapse: separate;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 5%;
    border-spacing: 0 10px;
}

td {
    border-style: solid none;
    padding: 4px;
}

td:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
    overflow: hidden;
}

td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px; 
    border-top-right-radius: 10px; 
}
